doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
    meta(name="theme-color" content="#580f8b")
    link(rel="stylesheet" type="text/css" href=context + "/public/style.css")
    link(rel="icon" type="text/css" href=context + "/public/favicon.png")
    title #{title}
  body
    input#context(type='hidden' value=context)
    div#container
    script.
      window.APP_CONTEXT = "!{context}"
      window.APP_USER = !{JSON.stringify(user)}
    script(src=context + "/public/bundle.js")
